header{
text-align: center;
color: white;
font-size: 30px;
padding: 20px;
background-color:#3bc2be
}
footer{
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 20px;
  background-color:#3bc2be
}
section{
  padding: 30px 20px 30px 20px
}
aside{
float: right;
width: 20%;
padding-top, padding-bottom: 20px;
padding-left, padding-right: 10px;
background-color: #6ecacf ;
position:right
}
nav{
background-color:#3bc2be ;
padding-top, padding-bottom: 10px;
padding-left, padding-right: 50px;
font-size: 14px;
color: white;
}
img{
float:  right;
height:  150px;
}
td{
  padding: 20px;
  background-color: white;
}
.theme_couleur_rouge {
  height: 10px;
  width: 10px;
  background-color: #da2964;
  border: 1px solid #ffffff;
  display: inline-block;
}

.theme_couleur_orange {
  height: 10px;
  width: 10px;
  background-color: #cc5500;
  border: 1px solid #ffffff;
  display: inline-block;

}
.theme_couleur_cyan {
  height: 10px;
  width: 10px;
  background-color: #3bc2be;
  border: 1px solid #ffffff;
  display: inline-block;
